.section {
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  color: #007bff;
}

.details {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding: 0 10px;
}

.details.open {
  max-height: 200px;
  padding: 10px;
}
